<%-include ../partials/header.ejs %>

<%-include ../partials/nav.ejs %>

<div class="edit-post-header">
  <h3>Forgot a detail? Missed a typo?</h3>
</div>
<div class="edit-post-container">
  <form class="edit-post-form" action="/reviews/reviewedit/:id" method="POST">
    <input type="hidden" name="id" value="<%= review.id %>">
    <input class="review review-title" type="text" name="title" required placeholder="<%= review.title %>">
    <textarea class="review review-content" type="text" name="content">
      <%= review.content %>
    </textarea>
    <button class="edit-review-submit-btn" type="submit">
      Are you sure?
    </button>
  </form>
  <div class="go-back-container">
    <a href="/profile">
      <button class="full-btn cancel-review-edit">
        Go Back!
      </button>
    </a>
  </div>
</div>
