<%-include ../partials/header.ejs %>
<%-include ../partials/nav.ejs %>

<div class="city-image city-image-hk">
</div>
<div class="city-info">
  <h3 class="city-title">Hong Kong</h3>
  <p class="city-blurb">Thousands of unique skyscrapers, amazing mass transit and a wealth of shopping and luxury accomodations make Hong Kong a premier travel destination, and one of the Roam community's favorite places to visit!</p>
  <div class="new-review-link">
    <a href="/reviews/newreview/1">
      <button type="button" id="create-post-btn">New Review</button>
    </a>
  </div>
</div>

<% reviews.forEach((review) => { %>
<div class="posts">
  <div class="post-mini-profile">
    <img class="mini-image" src= "<%= review.image_url %>">
    <p class="mini-username"><%= review.name %></p>
  </div>
  <div class="post-content">
    <h5> <%= review.title %> </h5>
    <p> <%= review.content %> </p>
  </div>
</div>
<%  }) %>

<%-include ../partials/footer.ejs %>
