<%-include ../partials/header.ejs %>
<%-include ../partials/nav.ejs %>

<div class="city-image city-image-hk">
</div>
<div class="city-info">
  <h3 class="city-title">Hong Kong</h3>
  <p class="city-blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="new-review-link">
  <a href="/reviews/newreview">
    <button type="button" id="create-post-btn">New Review</button>
  </a>
</div>
<% reviews.forEach((review) => { %>
<div class="posts">
  <div class="post-mini-profile">
    <img class="mini-image" height="100" width="100" src= '<%= review.image_url %>' >
    <p class="mini-username"><%= review.name %></p>
  </div>
  <div class="post-content">
    <h5> <%= review.title %> </h5>
    <p> <%= review.content %> </p>
  </div>
</div>
<%  }) %>

<%-include ../partials/footer.ejs %>
