<%-include ../partials/header.ejs %>
<%-include ../partials/nav.ejs %>

<div class="city-image city-image-oak">
</div>
<div class="city-info">
  <h3 class="city-title">Oakland</h3>
  <p class="city-blurb">Most people are familiar with Oakland's sister city across the Bay, San Francisco. But Oakland is a destination in its own right. Visit the city's backyard in Lake Merritt, eat and party downtown, watch the boats go by at Middle Harbor Park, and take a stroll in the Redwoods in the Oakland Hills. History and culture abound in over 100 neighborhoods.</p>
</div>
<div class="new-review-link">
  <a href="/reviews/newreview/3">
    <button type="button" id="create-post-btn">New Review</button>
  </a>
</div>
<% reviews.forEach((review) => { %>
<div class="posts">
  <div class="post-mini-profile">
    <img class="mini-image" height="100" width="100" src= '<%= review.image_url %>' >
    <p class="mini-username"><%= review.name %></p>
  </div>
  <div class="post-content">
    <h5> <%= review.title %> </h5>
    <p> <%= review.content %> </p>
  </div>
</div>
<%  }) %>

<%-include ../partials/footer.ejs %>
