<%-include ./partials/header.ejs %>

<%-include ./partials/nav.ejs %>

<div class="profile-container">
  <div class="profile-column">
    <img class="user user-pic" src="<%= profile[0].image_url %>">
    <div class="user user-name"><%= profile[0].name %></div>
    <div class="user current-city"><%= profile[0].current_city %></div>
    <div class="user edit-profile">
      <button type="button" id="edit-profile-btn">Edit Profile</button>
    </div>
    <form class="edit-profile-form" action="/" method="POST">
      <input id="edit-name-field" type="text" name="name">
      <input class="edit-city-field" type="text" name="currentcity">
      <input class="edit-image-field" type="text" name="imageurl">
      <button id="profile-changes-btn" type="submit">Save Changes</button>
    </form>
  </div>

  <div class="posts-column">
    <% profile.forEach((review) => { %>
      <div class="posts-row">
        <div class="post-body">
          <div class="post-title"><%= review.title %></div>
          <div class="post-content"><%= review.content %></div>
        </div>
        <div class="icon-column">
          <i class="profile-icon fa fa-pencil" aria-hidden="true"></i>
          <i class="profile-icon fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>
      <% }) %>
  </div>
</div>

<%-include ./partials/footer.ejs %>
