<%-include ./partials/header.ejs %>

<%-include ./partials/nav.ejs %>

<div class="profile-container">
  <div class="profile-column">
    <div class="hiddenID"><%= profile[0].id %></div>
    <img class="user user-pic" src="<%= profile[0].image_url %>">
    <div class="user user-name"><%= profile[0].name %></div>
    <div class="user current-city"><%= profile[0].current_city %></div>
    <div class="user edit-profile">
      <a href="/profile/editprofile">
        <button type="submit" id="edit-profile-btn">Edit Profile</button>
      </a>
    </div>
  </div>

  <div class="posts-column">
    <% profile.forEach((review) => { %>
      <div class="posts-row">
        <div class="post-body">
          <div class="post-title"><%= review.title %></div>
          <div class="post-content"><%= review.content %></div>
        </div>
        <div class="icon-column">
          <i class="profile-icon fa fa-pencil" aria-hidden="true"></i>
          <i class="profile-icon fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>
      <% }) %>
  </div>
</div>

<%-include ./partials/footer.ejs %>
