<%-include ./partials/header.ejs %>

<%-include ./partials/nav.ejs %>

<div class="profile-container">
  <div class="profile-column">
    <img class="user user-pic" src="<%= user.image_url %>">
    <div class="user user-name"><%= user.name %></div>
    <div class="user current-city"><%= user.current_city %></div>
    <div class="user join-date">Joined: <%= user.join_date %></div>
    <div class="user edit-profile">
      <form class="edit-profile-form">
        <label>Name</label>
        <input type="text" name="name" id="edit-name-field" value="<%= user.name %>">
        <label>Current City</label>
        <input type="text" name="currentcity" class="edit-city-field" value="<%= user.current_city %>">
        <button type="submit" class="profile-changes-btn full-btn" data-id="<%= user.id %>">Save Changes</button>
      </form>
      <button type="submit" id="edit-profile-btn">Edit Profile</button>
    </div>
  </div>

  <div class="posts-column">
    <% if (reviews) { %>
    <% reviews.forEach((review) => { %>
      <div class="posts-row">
        <div class="post-body">
          <div class="post-title"><a href="/reviews/reviewfull/<%= review.id %>"><%= review.title %></a></div>
          <div class="post-content"><%= review.content %></div>
        </div>
      </div>
      <% }) %>
      <% } else { %>
          <div class="posts-row">
            <div class="post-body">
              <div class="post-title"><%= noreviews.title %></div>
              <div class="post-row"><%= noreviews.content %></div>
            </div>
          </div>
        <% } %>
  </div>
</div>

<%-include ./partials/footer.ejs %>
