<%-include ./partials/header.ejs %>

<%-include ./partials/nav.ejs %>

<div class="profile-container">
  <div class="profile-column">
    <img class="user user-pic" src="<%= profile[0].image_url %>">
    <div class="user user-name"><%= profile[0].name %></div>
    <div class="user current-city"><%= profile[0].current_city %></div>
    <div class="user edit-profile">
      <form class="edit-profile-form">
        <input type="text" name="name" id="edit-name-field" placeholder="<%= profile[0].name %>">
        <input type="text" name="currentcity" class="edit-city-field" placeholder="<%= profile[0].current_city %>">
        <button type="submit" class="profile-changes-btn" data-id="<%= profile[0].id %>">Save Changes</button>
      </form>
      <button type="submit" id="edit-profile-btn">Edit Profile</button>
    </div>
  </div>

  <div class="posts-column">
    <% profile.forEach((review) => { %>
      <div class="posts-row">
        <div class="post-body">
          <div class="post-title"><a href="/reviews/reviewfull/<%= review.reviewid %>"><%= review.title %></a></div>
          <div class="post-content"><%= review.content %></div>
        </div>
        <div class="icon-column">
          <a href="/reviews/reviewedit/<%= review.reviewid %>"><i class="profile-icon fa fa-pencil" aria-hidden="true"></i></a>
          <i class="profile-icon fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>
      <% }) %>
  </div>
</div>

<%-include ./partials/footer.ejs %>
